
.body {
    max-width: 1200px;
    bottom: 0;
    color: rgb(0, 124, 101); 
    text-align: center; 
    
}

body {
    overflow-x: hidden;
}

.panel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 124, 101);
    margin: 0;
    padding: 0;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    position: relative;
    background-color: rgb(0, 124, 101);
    padding: 5px 0;
    box-shadow: 0 0 10px gray;
    transition: all 0.4s ease;
    z-index: 10;
    top: 0;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
}

ul.nav{
    margin: 5px;
    list-style-type: none;
    font-size: 20px;
}

.nav-item{
    display: inline-block;
    
}

.navbar h1{
    display: flex;
    color: white;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

.nav-link{
    padding: 0px 20px ;
    line-height: 5rem;
    text-decoration: none;
    color: white;

}

 nav li {
    position: relative;
    margin-right: -10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -10px);
    background: rgb(0, 124, 101);
    border-radius: 8px;
    padding: 10px 0;
    display: none;
    flex-direction: column;
    min-width: 180px;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    text-align: center;
  }

  .dropdown a {
    padding: 10px 20px;
    display: block;
    color: white;
    font-size: 1rem;
    text-decoration: none;
  }

  .dropdown a:hover {
    background: rgba(0,170,255,0.2);
  }

  li:hover .dropdown {
    display: flex;
  }

.nowosci {
    margin-left: 300px;
}


.nowosci a {
    color:rgb(0, 124, 102);
    text-decoration: none;
}


.napis {
    transform-origin: center center;
    will-change: transform;
    color: rgb(0, 124, 102);
    display: inline-block;
    margin-bottom: 200px;
    margin-top: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 10vw;
    font-weight: bold;
}

.video-section {
    position: relative;
    width: 200vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
}

#bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text-overlay {
    text-align: center;
    z-index: 1;
    font-size: 2rem;
    color: white;
}



div { display: grid }

.circle {
    margin: 5em auto;
    position: relative;
    width: 25em; /* set width to desired pie diameter */
    aspect-ratio: 1; /* make element square */
    font: 1.5em sans-serif

}


.slice {
    --hov: 0;
    --ba: 1turn/var(--n); 
    --ca: var(--i)*var(--ba) + var(--oa, 17deg); 
    --dy: 50%*tan(.5*var(--ba)); 
    grid-area: 1/ 1; 
    place-content: center end; 
    padding: .5em; 
    border-radius: 50%; 
    transform:
        rotate(calc(var(--ca))) 
        translate(calc(var(--hov)*3em));
    background: var(--c);
    clip-path: 
        polygon(50% 50%, 
            100% calc(50% - var(--dy)), 
            100% calc(50% + var(--dy)));
    filter: saturate(var(--hov));
    transition: .3s;
    counter-reset: i calc(var(--i) + 1);
    cursor: pointer;

}

.slice-image {
    --hov: 0;
    --ba: 1turn/var(--n); 
    --ca: var(--i)*var(--ba) + var(--oa, 17deg); 
    --dy: 50%*tan(.5*var(--ba)); 
    grid-area: 1/ 1; 
    place-content: center end; 
    padding: .5em; 
    border-radius: 50%; 
    transform:
        rotate(calc(var(--ca))) 
        translate(calc(var(--hov)*3em));
    background: var(--c);
    clip-path: 
        polygon(50% 50%, 
            100% calc(50% - var(--dy)), 
            100% calc(50% + var(--dy)));
    counter-reset: i calc(var(--i) + 1);

}


.slice:hover {
    color: white;
    --hov: 1;
}

.slice span {
    display: block;
    transform: rotate(calc(-1 * (var(--ca) - var(--oa, 1deg)))); 
    text-align: center;

}



.slice a {
    text-decoration: none;
}

.slice:hover a {
    color: white;
}

.slice-text span {
    display: block;
    transform: rotate(calc(-1 * (var(--ca) - var(--oa, 1deg)))); 
    text-align: center;

}

.cut {
    position: absolute;
    margin-top: 22%;
    margin-left: 22%;
    width: 55%;
    height: 55%;
    background-image: url("https://pb.edu.pl/wp-content/uploads/2025/01/2025-01-baner-kandydaci-1140x178px.jpg");
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    pointer-events: none;
}

.tekst {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0; /* lub inny kolor */
  color: black;
  font-size: 1.2rem;
}


.tekst ul {
    list-style: none;
}

